body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0px;
    background-color: #f0ffff !important;
}

main{
    display: flex;
    gap: 2em;
    
}

.text-container{
    display: flex;
    font-size: 1.3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container h1{
    color: #7190c9;
    font-weight: bold;
    margin-bottom: 0.7em;
}

#demo{
    margin-top: 2em !important;
    width: 40vw;
}

.carousel-item img{
    width: auto;
    height: 60vh;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.8);
}


nav{
    display: flex;
    width: 100vw;
    height: 8em;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}



ul{
    display: inherit;
    margin-top: 0px;
    list-style:none;
}

ul:first-child img{
    width: 80px;
    margin: 0px;
}

ul:nth-child(2){
    justify-content: center;
    margin-left: auto;
}


nav ul li a{
    text-decoration: none;
    padding: 15px 17px;
    font-size: 22px;
    color: #b528bc;
}

footer{
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.footer-logo{
    margin-bottom: 0px;
}

footer .footer-logo img{
    width: 50px;
    height: auto;
    margin: auto 0px;
}


@media screen and (max-width:1000px){
    main{
        display: flex;
        flex-direction: column;
    }

    #demo{
        margin: 0px auto;
        width: 100vw;
    }

    #demo img{
        width: 100vw;
        height: auto;
    }
}