body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    margin: 0px;
    background-color: #f0ffff !important;
}

main{
    display: flex;
    align-items: flex-start;
    gap: 2em;
    margin-top: 2em;
    
}

.text-container{
    display: flex;
    font-size: 1.3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container h1, .text-container h4{
    color: #7190c9;
    font-weight: bold;
    margin-bottom: 1em;
}

.display-2{
    margin-top: 1em;
    font-weight: bold !important;
    color: #0099DD;
}

#demo{
    width: 40vw;
}

.thanksMsg, .text-msg{
    display: none;
}

.donate{
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.donate img{
    width: 300px;
    height: auto;
}

.donation{
    display: block;
    justify-content: center;
}
.donation input{
    height: 2em;
}

.donation button{
    font-size: 20px;
}

.contact{
    margin: auto;
}


.aboutUs{
    display: flex;
    flex-direction: row;
    gap: 3em;
}

.text-about{
    display: flex;
    font-size: 1.3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.text-about h1{
    color: #7190c9;
    font-weight: 600;
}

.aboutUs-img img{
    width: 600px;
    height: auto;
    border-radius: 0.5em;
}

.carousel-item img{
    width: auto;
    height: 60vh;
}
.carousel-caption{
    background-color: rgba(0, 0, 0, 0.8);
}


nav{
    display: flex;
    width: 100vw;
    height: 8em;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}



ul{
    display: inherit;
    margin-top: 0px;
    list-style:none;
}

ul:first-child img{
    width: 80px;
    margin: 0px;
}

ul:nth-child(2){
    justify-content: center;
    margin-left: auto;
    margin-right: 1em;
}


nav ul li a{
    text-decoration: none;
    padding: 15px 17px;
    font-size: 22px;
    color: #494791;
}

footer{
    display: flex;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

.footer-logo{
    margin-bottom: 0px;
}

footer .footer-logo img{
    width: 50px;
    height: auto;
    margin: auto 0px;
}


@media screen and (max-width:1000px){
    main{
        display: flex;
        flex-direction: column;
    }

    #demo, .aboutUs{
        margin: 0px auto;
        width: 100vw;
        flex-wrap: wrap;
    }

    #demo img, .aboutUs-img img{
        width: 100vw;
        height: auto;
    }
}